#calendar-title=render 'title', month: @month
  
.calendar-config
  .row
    .span3
      %h5 Select Shifts
      .btn-group.btn-group-vertical.span2#select-shift-group
        %button.btn.btn-block{:"data-shifts" => "mine", class: show_shifts==:mine && "active"} My Positions
        %button.btn.btn-block{:"data-shifts" => "county", class: show_shifts==:county && "active"} County Shifts
        %button.btn.btn-block{:"data-shifts" => "all", class: show_shifts==:all && "active"} All Shifts
    .span3
      %h5 Select Highlighting
      .btn-group.btn-group-vertical.span2#highlighting-group
        %button.btn.btn-block.active{:"data-style" => "highlight-my-shifts"} My Shifts
        %button.btn.btn-block{:"data-style" => "highlight-open-shifts"} Open Shifts
    .span3
      %h5 Show Shifts For
      .input-append
        =text_field_tag :person, (person and "#{person.first_name} #{person.last_name}"), id: "select-person", style: "width: 100px"
        %button.btn#clear-person Clear
      #choose-counties{style: show_shifts==:county || 'display: none'}
        =select_tag "counties[]", options_from_collection_for_select(current_chapter.counties, :id, :name, show_counties.first), multiple: false, id: 'choose-county'
        - cats = Scheduler::ShiftCategory.for_chapter(current_chapter).to_a
        -if cats.count > 1
          %h5 Categories
          - cats.each do |cat|
            =check_box_tag "categories[]", cat.id, show_categories.include?(cat.id), class: 'choose-category', id: "categories_#{cat.id}"
            =label_tag "categories_#{cat.id}", cat.name
            %br
    .span3
      %h5 Other Views:
      #view-as-links=view_as_links
  .row
    %hr
.calendar-container.highlight-my-shifts
  =render partial: 'month', locals: {month: @month, editable: editable?}

.open-shifts-container
  %h3 Available Shifts
  %div.open-shifts
    =render partial: 'open_shifts', locals: {month: @month}

.polkadot.p2
.polkadot.p1
.polkadot.p3
.polkadot.p4
.polkadot.p5
.polkadot.p6

- content_for :footer_js do
  :javascript
    window.calendarController = new window.CalendarController(#{ajax_params.to_json}, "#{scheduler_calendar_path(params[:year], params[:month], display: 'open_shifts')}", "#{@month.strftime "%Y-%m"}")
  - if person and ['Terrell', 'Hancock'].include? person.last_name
    :javascript
      $(document).ready(function() {
        $('body').addClass('steven')
      })
