= provide :header do
  %meta(name="pdfkit-orientation" content="Landscape")
#calendar-title=render 'title', month: @month
  
.calendar-config
  .row
    .col-sm-3
      %h5 Select Shifts
      .btn-group-vertical.btn-block#select-shift-time
        %button.btn.btn-default.btn-block{:"data-shifts" => "mine", class: show_shifts==:mine && "active"} My Positions
        %button.btn.btn-default.btn-block{:"data-shifts" => "shift_territory", class: show_shifts==:shift_territory && "active"} Shifts by Territory
        %button.btn.btn-default.btn-block{:"data-shifts" => "all", class: show_shifts==:all && "active"} All Shifts
    .col-sm-3
      %h5 Show Shifts For
      .row
        .col-xs-8
          =text_field_tag :person, (person and person.full_name), id: "select-person", class: "form-control col-xs-8"
        %button.btn.btn-default.col-xs-4#clear-person{data: {clear_typeahead: "select-person"}} Clear
      #choose-shift_territories{style: show_shifts==:shift_territory || 'display: none'}
        =select_tag "shift_territories[]", options_from_collection_for_select(current_region.shift_territories.enabled, :id, :name, show_shift_territories.first), multiple: false, id: 'choose-shift_territory', class: "form-control"
        - cats = Scheduler::ShiftCategory.for_region(current_region).enabled.to_a
        -if cats.count > 1
          %h5 Categories
          - cats.each do |cat|
            =check_box_tag "categories[]", cat.id, show_categories.include?(cat.id), class: 'choose-category', id: "categories_#{cat.id}"
            =label_tag "categories_#{cat.id}", cat.name
            %br
    .col-sm-3
      %h5 Select Highlighting
      .btn-group-vertical.btn-block#highlighting-group
        %button.btn.btn-default.btn-block.active{:"data-style" => "highlight-my-shifts"} My Shifts
        %button.btn.btn-default.btn-block{:"data-style" => "highlight-open-shifts"} Open Shifts
    .col-sm-3
      %h5 Other Views:
      #view-as-links=view_as_links
  .row
    %hr
.calendar-container.highlight-my-shifts
  =render partial: 'month', locals: {month: @month, editable: editable?}

.open-shifts-container
  %h3 Available Shifts
  %div.open-shifts
    =render partial: 'open_shifts', locals: {month: @month}

.polkadot.p2
.polkadot.p1
.polkadot.p3
.polkadot.p4
.polkadot.p5
.polkadot.p6

- content_for :footer_js do
  :javascript
    window.calendarController = new window.CalendarController(#{raw ajax_params.to_json}, "#{scheduler_calendar_path(params[:year], params[:month], display: 'open_shifts')}", "#{@month.strftime "%Y-%m"}")
  - if person and ['Terrell', 'Hancock'].include? person.last_name
    :javascript
      $(document).ready(function() {
        $('body').addClass('steven')
      })
