= provide :header do
  %meta(name="pdfkit-orientation" content="Landscape")
.calendar-spreadsheet
  =render partial: 'view_header'

  - unless spreadsheet_county
    No county to display
  - else 
    - spreadsheet_groups.each do |(group, shifts)|
      - next if shifts.blank?
      .page
        %h3
          = spreadsheet_county.name
          DAT Schedule - 
          = @month.strftime "%B %Y"
          = group.name
        %table
          %thead
            %tr
              %th Date
              %th Shift
              - shifts.each do |shift|
                %th=shift.name
                %th{colspan: 2} Contact Details
          %tbody
            - date = @month; next_month = date.next_month
            - while date < next_month
              /- spreadsheet_groups.each do |(group, shifts)|
              %tr{}
                %td=date.strftime "%d-%a"
                %td=group.name
                - shifts.each do |shift|
                  - assignments = calendar.assignments_for_shift_on_day_in_group(shift, date, group)
                  -#- if ass.count > 1
                  -#  %td="#{ass.count} Registered"
                  -#  %td
                  -#  %td
                  - if assignments.count == 0
                    %td Open
                    %td
                    %td
                  - else
                    %td
                      - assignments.each_with_index do |ass, idx|
                        -if idx != 0
                          %br
                        = ass.person.full_name
                    - (0..1).each do |ph_idx|
                      %td
                        - assignments.each_with_index do |ass, idx|
                          - if idx != 0
                            %br
                          - ph = ass.person.phone_order[ph_idx]
                          -if ph
                            =ph[:number]
                            ="(#{ph[:label][0]})"
              - date = date.tomorrow


