%h3 
  =t(".cases.cases")
  -if can? :create, resource.cases.build
    =edit_panel_link_to t(".cases.add_case"), new_resource_case_path(resource), class: "btn btn-primary"

- resource.cases.order(:id).each do |kase|
  .row
    .col-sm-8
      %table.table.table-bordered
        -if can? :update, kase
          %tr
            %th(colspan=2)=link_to 'Edit this Case', edit_resource_case_path(kase), data: {edit_panel: edit_resource_case_path(kase)}
        %tr
          %th Name
          %td #{kase.first_name} #{kase.last_name}
        %tr
          %th # Clients
          %td #{pluralize kase.num_adults, 'adult'}, #{pluralize kase.num_children, 'child'}
        %tr
          %th Phone Number
          %td #{kase.phone_number}
        %tr
          %th Unit
          %td
            =safe_join [kase.unit, kase.address], '<br />'.html_safe
        %tr
          %th Case Number
          %td
            =kase.cas_case_number
            -if kase.cas_case_number.present?
              =link_to "View in CAS", kase.cas_case_url, class: "btn btn-mini", target: '_blank'
        %tr
          %th Financial Assistance
          %td.table-nested-container
            %table.table.table-condensed.table-nested
              %tr
                %th Item
                %th Quantity
                %th Subtotal
              -kase.case_assistance_items.each do |item|
                %tr
                  %td=item.price_list_item.name
                  %td=item.quantity
                  %td=number_to_currency item.total_price
              %tr
                %td(colspan=2 style="text-align: right")
                  Total: 
                %td #{number_to_currency kase.total_amount}
        -if kase.cac_masked.present?
          %tr
            %th CAC Number
            %td=kase.cac_masked
        %tr
          %th Notes
          %td=simple_format kase.notes


- (resource.cas_incident.try(:cases)||[]).each do |kase|
  %h4
    = kase.address
    \-
    = kase.family_name
  %p
    %strong Status:
    =kase.case_is_open ? 'Open' : 'Closed'
  %p
    %strong Post Incident Plans
    =kase.post_incident_plans
  %p
    %strong Notes
    =kase.notes
