- dat = resource.dat_incident

-unless inline_editable?
  %h3 
    DAT Details
  
    -if dat && can?( :update, resource.dat_incident)
      %small
        =link_to "Edit", edit_incidents_incident_dat_path(resource)
    -elsif dat.nil? && can?( :create, Incidents::DatIncident)
      %small
        =link_to "Submit Report", edit_incidents_incident_dat_path(resource)
    -if dat
      %small
        Submitted By:
        =dat.completed_by.try(:full_name)

.row
  .span5
    %h4
      Location
      %small=edit_link 'location'
    -if resource.address
      =resource.address
      %br
      #{resource.city}, #{resource.state} #{resource.zip}
      %br
      =resource.county
      County
  .span7
    %h4 
      Narrative
      %small=edit_link 'narrative'
    = simple_format resource.narrative

-if dat
  .row
    .span5
      %h4 
        Demographics
        %small=edit_link 'demographics'
      %table.table.table-bordered.table-condensed
        %tr
          %th Num. Adults
          %td=resource.num_adults
        %tr
          %th Num. Children
          %td=resource.num_children
        %tr
          %th Num. Families
          %td=resource.num_families
        %tr
          %th People Injured
          %td=dat.num_people_injured
        %tr
          %th People Hospitalized
          %td=dat.num_people_hospitalized
        %tr
          %th People Deceased
          %td=dat.num_people_deceased
      %h4 
        Damage Assessment
        %small=edit_link 'damage_assessment'
      %table.table.table-bordered.table-condensed
        %tr
          %th Structure Type
          %td=dat.humanized_structure_type
        %tr
          %th Total Units
          %td=dat.units_total
        %tr
          %th Units Affected
          %td=dat.units_affected
        %tr
          %th Units Minor
          %td=dat.units_minor
        %tr
          %th Units Major
          %td=dat.units_major
        %tr
          %th Units Destroyed
          %td=dat.units_destroyed
    .span7
      %h4 Response
      %table.table.table-bordered.table-condensed
        %tr
          %th Team Lead
          %td
            -if resource.team_lead
              =resource.team_lead.person.try(:full_name)
        %tr
          %th Number of Responders
          %td=resource.on_scene_responder_assignments.count
        %tr
          %th Time to On Scene
          %td
            -if resource.time_to_on_scene
              =distance_of_time_in_words resource.time_to_on_scene
        %tr
          %th=passthrough_edit_link 'basic', 'Type of Incident'
          %td=resource.humanized_incident_type
        %tr
          %th=passthrough_edit_link 'basic', 'Type of Call'
          %td=dat.humanized_incident_call_type
        %tr
          %th=passthrough_edit_link 'services', 'Assistance Provided'
          %td=resource.services_description
        %tr
          %th=passthrough_edit_link 'resources', 'Resources Used'
          %td=(dat.resources || []).map{|name, quantity| quantity = quantity.to_i; if quantity > 0; name = name.titleize.singularize; pluralize(quantity, name); end}.compact.to_sentence
        %tr
          %th=passthrough_edit_link 'vehicles', 'Vehicles'
          %td= dat.vehicles.map(&:name).to_sentence
      -if resource.feeding_partner_use || inline_editable?
        %h4 
          Feeding
          %small=edit_link 'feeding'
        %table.table.table-bordered.table-condensed
          %tr
            %th Meal Vendor
            %td=resource.feeding_partner_use.try(:partner_name)
          %tr
            %th # Meals Served
            %td=resource.feeding_partner_use.try :meals_served
      -if inline_editable?
        %h4 
          Shelter/Housing
          %small=edit_link 'housing'
        %table.table.table-bordered.table-condensed
          -if resource.hotel_partner_use || inline_editable?
            %tr
              %th Hotel
              %td=resource.hotel_partner_use.try :partner_name
            %tr
              %th Rooms Booked
              %td=resource.hotel_partner_use.try :hotel_rooms
          -if resource.shelter_partner_use || inline_editable?
            %tr
              %th Shelter Opened
              %td=resource.shelter_partner_use.try :partner_name
          -if resource.evac_partner_use || inline_editable?
            %tr
              %th Evac Center
              %td=resource.evac_partner_use.try :partner_name
%h3 
  Casework
  %small
    Incident:
    -if resource.cas_incident_number.nil?
      %span.invalid 
    -else
      =resource.cas_incident_number
  -if resource.cas_incident.nil? and can?(:link_cas, resource)
    %button.btn.btn-primary.btn-mini Link to CAS Incident
-if resource.cas_incident_number and resource.cas_incident.nil?
  A CAS Incident has been provided but no data for the incident was found.  If this is a new incident, it may take 12-24 hours for incident data to become available.
-elsif resource.cas_incident
  - cas = resource.cas_incident
  -if cas.notes.present?
    %h4 Notes
    =cas.notes
  .row
    .span6
      %h4 Details
      %table.table.table-condensed.table-bordered
        %tr
          %th Total Casework Clients
          %td=cas.num_clients
        %tr
          %th Incident Name
          %td=cas.cas_name
        %tr
          %th Incident Number
          %td=cas.cas_incident_number
        -if cas.is_dr
          %tr
            %th DR Number
            %td=cas.dr_number
          %tr
            %th DR Level
            %td=cas.dr_level
        %tr
          %th Incident Created
          %td=cas.incident_date
        %tr
          %th Date Last Case Open
          %td=cas.last_date_with_open_cases
        %tr
          %th Data Updated
          %td=cas.last_import

    .span6
      %h4 Cases
      %table.table.table-condensed.table-bordered
        %tr
          %th Total Cases
          %td=cas.cases_opened
        %tr
          %th Cases Open
          %td=cas.cases_open
        %tr
          %th Cases Closed
          %td=cas.cases_closed
        %tr
          %th Cases w/ Financial Assistance
          %td=cas.cases_with_assistance
        %tr
          %th Cases w/ Service Only
          %td=cas.cases_service_only