- dat = resource.dat_incident

%h3 Location
-if resource.address
  =resource.address
  %br
  #{resource.city}, #{resource.state} #{resource.zip}
  %br
=resource.county.name
County

%h3 
  DAT Details
  -if dat && can?( :update, resource.dat_incident)
    %small
      =link_to "Edit", edit_incidents_incident_dat_path(resource)
  -elsif dat.nil? && can?( :create, Incidents::DatIncident)
    %small
      =link_to "Submit Report", edit_incidents_incident_dat_path(resource)
  -if dat
    %small
      Submitted By:
      =dat.completed_by.try(:full_name)
-if dat
  .row
    .span4
      %h4 Demographics
      %table.table.table-bordered.table-condensed
        %tr
          %th Num. Adults
          %td=resource.num_adults
        %tr
          %th Num. Children
          %td=resource.num_children
        %tr
          %th Num. Families
          %td=resource.num_families
        %tr
          %th People Injured
          %td=dat.num_people_injured
        %tr
          %th People Hospitalized
          %td=dat.num_people_hospitalized
        %tr
          %th People Deceased
          %td=dat.num_people_deceased
    .span4
      %h4 Damage Assessment
      %table.table.table-bordered.table-condensed
        %tr
          %th Total Units
          %td=dat.units_total
        %tr
          %th Units Affected
          %td=dat.units_affected
        %tr
          %th Units Minor
          %td=dat.units_minor
        %tr
          %th Units Major
          %td=dat.units_major
        %tr
          %th Units Destroyed
          %td=dat.units_destroyed
    .span4
      %h4 Response
      %table.table.table-bordered.table-condensed
        %tr
          %th Team Lead
          %td
            -if resource.team_lead
              =resource.team_lead.person.try(:full_name)
        %tr
          %th Number of Responders
          %td=resource.on_scene_responder_assignments.count
        %tr
          %th Time to On Scene
          %td
            -if resource.time_to_on_scene
              =distance_of_time_in_words resource.time_to_on_scene
        %tr
          %th Type of Call
          %td
            =dat.incident_call_type.titleize
        %tr
          %th Assistance Provided
          %td=resource.services_description
        -if resource.evac_partner_use
          %tr
            %th Evac Center
            %td=resource.evac_partner_use.partner_name
        -if resource.feeding_partner_use
          %tr
            %th Feeding Vendor
            %td=resource.feeding_partner_use.partner_name
          %tr
            %th Meals Served
            %td=resource.feeding_partner_use.meals_served
        -if resource.hotel_partner_use
          %tr
            %th Hotel
            %td=resource.hotel_partner_use.partner_name
          %tr
            %th Rooms Booked
            %td=resource.hotel_partner_use.hotel_rooms
        -if resource.shelter_partner_use
          %tr
            %th Shelter Opened
            %td=resource.shelter_partner_use.partner_name
        %tr
          %th Vehicles
          %td= dat.vehicles.map(&:name).to_sentence
  .row
    .span4
      %h4 Description
      = resource.narrative_brief
    .offset1.span7
      %h4 Narrative
      = dat.narrative
%h3 
  Casework
  %small
    Incident:
    -if resource.cas_incident_number.nil?
      %span.invalid 
    -else
      =resource.cas_incident_number
  -if resource.cas_incident.nil? and can?(:link_cas, resource)
    %button.btn.btn-primary.btn-mini Link to CAS Incident
-if resource.cas_incident_number and resource.cas_incident.nil?
  A CAS Incident has been provided but no data for the incident was found.  If this is a new incident, it may take 12-24 hours for incident data to become available.
-elsif resource.cas_incident
  - cas = resource.cas_incident
  -if cas.notes.present?
    %h4 Notes
    =cas.notes
  .row
    .span6
      %h4 Details
      %table.table.table-condensed.table-bordered
        %tr
          %th Total Casework Clients
          %td=cas.num_clients
        %tr
          %th Incident Name
          %td=cas.cas_name
        %tr
          %th Incident Number
          %td=cas.cas_incident_number
        -if cas.is_dr
          %tr
            %th DR Number
            %td=cas.dr_number
          %tr
            %th DR Level
            %td=cas.dr_level
        %tr
          %th Incident Created
          %td=cas.incident_date
        %tr
          %th Date Last Case Open
          %td=cas.last_date_with_open_cases
        %tr
          %th Data Updated
          %td=cas.last_import

    .span6
      %h4 Cases
      %table.table.table-condensed.table-bordered
        %tr
          %th Total Cases
          %td=cas.cases_opened
        %tr
          %th Cases Open
          %td=cas.cases_open
        %tr
          %th Cases Closed
          %td=cas.cases_closed
        %tr
          %th Cases w/ Financial Assistance
          %td=cas.cases_with_assistance
        %tr
          %th Cases w/ Service Only
          %td=cas.cases_service_only