%h1 Listing Incidents

%table.span12
  %tr
    %th County
    %th Incident number
    %th Cas incident number
    %th Date
    %th City
    %th Incident type

  - collection.each do |resource|
    %tr
      %td= resource.county
      %td= link_to resource.incident_number, resource
      %td= resource.cas_incident_number
      %td= resource.date
      %td= resource.city
      %td= resource.humanized_incident_type

= paginate collection
