%h1 Listing #{pluralize collection.total_count, 'Incident'}

.well#filter-form
  =search_form_for search, class: "form", style: "margin-bottom: 0" do |f|
    - proto = Incidents::Incident.new chapter: current_chapter
    /%table
    /  %tr
    .row.collapse
      .col-sm-2=f.label :address_cont
      .col-sm-2=f.label :city_cont
      .col-sm-2=f.label :county_cont
      .col-sm-2=f.label :date_gteq, 'After'
      .col-sm-2=f.label :date_lteq, 'Before'
    /%tr
    .row
      %div
        .form-group
          .col-sm-2
            =f.text_field :address_cont, class: 'form-control', placeholder: 'Address'
        .form-group
          .col-sm-2
            =f.text_field :city_cont,    class: 'form-control', placeholder: 'City'
        .form-group
          .col-sm-2
            =f.text_field :county_cont,  class: 'form-control', placeholder: 'County'
        .form-group
          .col-sm-3
            =f.date_field :date_gteq,    class: 'form-control', placeholder: 'After YYYY-MM-DD'
        .form-group
          .col-sm-3
            =f.date_field :date_lteq,    class: 'form-control', placeholder: 'Before YYYY-MM-DD'
    .row(style="margin-top: 15px")
      .col-sm-5
        =f.label :incident_type_in
        =f.select :incident_type_in, options_from_collection_for_select(proto.humanized_incident_types, :value, :humanized, search.incident_type_in), {include_blank: true}, class: 'form-control'
      .col-sm-4
        =f.label :status_in
        - proto.humanized_statuses.each do |status|
          - id="q_status_in_#{status.value}"
          =check_box_tag 'q[status_in][]', status.value, search.status_in.try(:include?, status.value), {id: id}
          =label_tag id, status.humanized
      .col-sm-2
        =f.submit class: 'btn btn-primary'

= paginate collection, :theme => 'twitter-bootstrap', pagination_class: 'pagination pagination-centered'

%table.col-sm-12
  %tr
    %th
    %th Incident
    %th Date
    %th Address
    %th City
    %th County
    %th Type

  - collection.each do |resource|
    %tr
      %td
        =link_to resource do
          %span.label{class: (case resource.status; when 'open' then 'label-success'; when 'closed' then 'label-primary'; when 'invalid' then 'label-danger'; end)}=resource.humanized_status
      %td{class: "incident-number-#{resource.status}"}
        = link_to resource.incident_number, resource
      %td= resource.date
      %td= resource.address
      %td= resource.city
      %td= resource.county
      %td= resource.humanized_incident_type

= paginate collection, :theme => 'twitter-bootstrap', pagination_class: 'pagination pagination-centered'
