- provide :title, "Incident #{resource.incident_number} - DCSOps"
%h2
  =resource.incident_number
  #{resource.city}, #{resource.state}
  %small
    -if can? :read_details, resource
      =resource.address
    -if resource.open_incident?
      -if can? :close, resource
        =link_to 'Close/Submit', close_resource_path, class: 'btn btn-default', method: 'post', data: {confirm: 'Really close this incident?'}
      -if can? :close_without_completing, resource
        =link_to 'Close Without Completion', force_close_resource_path, class: 'btn btn-default', method: 'post', data: {confirm: 'Really close this incident even if not complete?'}
      -if can? :mark_invalid, resource
        =link_to 'Invalid/No Response', mark_invalid_resource_path, class: 'btn btn-danger'
    -else
      -if can? :reopen, resource
        =link_to 'Reopen', reopen_resource_path, class: 'btn btn-default', method: 'post', data: {confirm: 'Really reopen this incident?'}

-if resource.status == 'open'
  .incoming-table{data: {refresh_name: "incoming", refresh: resource_responder_messages_path(partial: 'incoming_table')}}
    =render partial: 'incidents/responder_messages/incoming_table', locals: {incident: resource}

- tabs = %w(details timeline responders cases iir attachments changes summary).select{|name| tab_authorized? name}

.tabbable
  %ul.nav.nav-tabs
    - tabs.each_with_index do |name, idx|
      %li{class: ((idx==0) && 'active')}
        %a{href: '', data: {target: "#inc-#{name}", toggle: 'tab'}}=t(".tab.#{name}")
  
.tab-content
  - tabs.each_with_index do |name, idx|
    .tab-pane{class: ((idx==0) && 'active'), id: "inc-#{name}", data: {refresh_name: name, refresh: resource_path(partial: name)}}
      =render name

= edit_panel_html

.drag-top
.drag-right
.drag-left
.drag-bottom

- content_for :footer_js do
  = google_maps_javascript
  
  :javascript
    $(function() {
      if ('hash' in window.location) {
        var hash = window.location.hash;
        hash && $('ul.nav a[data-target="' + hash + '"]').tab('show');
      }
      if ('history' in window && 'replaceState' in window.history) {
        $("a[data-toggle='tab']").on('shown.bs.tab', function(evt) {
          window.history.replaceState({}, '', $(evt.target).attr('data-target'))
        });
      }

      config = #{raw map_config(scope).to_json};
      window.incidentLocationController = new IncidentLocationController(#{raw resource.lat.to_json}, #{raw resource.lng.to_json}, config);
      window.editPanelController = new IncidentEditPanelController();
      if (#{raw can?(:create, resource.attachments.build).to_json}) {
        window.attachmentController = new AttachmentsDragAndDropController(#{raw resource_attachments_path(format: :js).to_json});
      }
      
    });

- if true # can edit incident report
  - content_for :footer_js do
    =incidents_pubnub_setup

