- provide :title, "Incident #{resource.incident_number} - ARCBA DAT"
%h1
  =resource.incident_number
  #{resource.city}, #{resource.state}
  %small
    =resource.date.to_s :dow_short
    -if resource.incident_type
      ==-
      =resource.humanized_incident_type

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{href: "#inc-summary", "data-toggle"=>"tab"} Summary
    -if can? :read_details, resource
      %li
        %a{href: "#inc-details", "data-toggle"=>"tab"} Details
    -if can? :read_case_details, resource
      %li
        %a{href: "#inc-cases", "data-toggle"=>"tab"} Cases
    -if can? :read_dat_details, resource
      %li
        %a{href: "#inc-dispatch", "data-toggle"=>"tab"} Timeline
      %li
        %a{href: "#inc-responders", "data-toggle"=>"tab"} Responders
      %li
        %a{href: "#inc-photos", "data-toggle"=>"tab"} Photos
    -if can? :read_case_details, resource
      %li
        %a{href: "#inc-changes", "data-toggle"=>"tab"} Changes
  
.tab-content
  .tab-pane.active#inc-summary=render 'summary'

  -if can? :read_details, resource
    .tab-pane#inc-details=render 'details'

  -if can? :read_dat_details, resource
    .tab-pane#inc-dispatch=render 'timeline'

    .tab-pane#inc-responders=render 'responders'

    .tab-pane#inc-photos

  -if can? :read_case_details, resource
    .tab-pane#inc-cases=render 'cases'

  -if can? :read_details, resource
    .tab-pane#inc-changes=render 'changes'

- content_for :footer_js do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
  :javascript
    config = #{map_config.to_json};
    incidentLocationController = new IncidentLocationController(#{resource.lat.to_json}, #{resource.lng.to_json}, config);
    eventLogsController = new IncidentEventLogsController();
    $(function() {
      var hash = window.location.hash;
      hash && $('ul.nav a[href="' + hash + '"]').tab('show');

      $('a[data-toggle=tab]').on('shown', function(evt) {
        window.location.hash = $(evt.target).attr('href')
      })
    });
