:plain
  Hello, #{@setting.person.first_name}

  Currently Outstanding Shift Swaps:

- @swap_groups.each do |county, shifts|
  :plain
    #{county.name}:
  - shifts.each do |shift|
    :plain
        #{shift.date.to_s :dow_short} - #{shift.shift.shift_group.name} #{shift.shift.name} for #{shift.person.full_name}


