-@groups.each do |group_hash, shifts|
  - group = group_hash[:group]; date = group_hash[:date]
  - if group.period == 'daily'
    #{date.strftime "%m/%d"} #{group.name}: 
    - shifts.first(2).each do |shift|
      - assignments = assignments_for_date_shift_group(date, shift, group)
      = shift.abbrev + " " + (assignments.empty? ? "Open" : assignments.map(&:person).map{|person| "#{person.first_name[0]}. #{person.last_name} #{person.phone_order.map{|ph|ph[:number]}.first}" }.join(", "))