%p
  Hello, #{@setting.person.first_name}

%p
  This is a daily reminder of today's DAT shifts.
- @groups.each do |group_hash, shifts|
  - group = group_hash[:group]
  - date = group_hash[:date]
  - if group.period == 'daily'
    %p
      #{group.name} Shift for #{date.to_s :dow_long}
      %br
      - shifts.each do |shift|
        - assignments = assignments_for_date_shift(date, shift)
        #{shift.name}: 
        = assignments.empty? ? "Open" : assignments.map(&:person).map{|person| format_person(person) }.join(", ")
        %br
%p
  \--
%p
  This message is sent by the ARCBA DAT Scheduling System.  Edit your notification preferences here:
  =link_to me_scheduler_notification_settings_url, me_scheduler_notification_settings_url