%p
  Hello, #{@setting.person.first_name}

%p
  This is a daily reminder of today's DAT shifts.
- @groups.each do |group, shifts|
  - next unless shifts.present?
  - date = group.start_date
  - if group.period == 'daily'
    %p
      #{group.name} Shift on #{date.to_s :dow_long}
      %br
      - shifts.each do |shift|
        - assignments = assignments_for_date_shift_group(date, shift, group)
        #{shift.name}: 
        = assignments.empty? ? "Open" : assignments.map(&:person).map{|person| format_person(person) }.join(", ")
        %br
%p
  \--
%p
  This message is sent by the DCSOps Scheduling System.  Edit your notification preferences here:
  =link_to me_scheduler_notification_settings_url, me_scheduler_notification_settings_url