%p
  Incident Type: #{@incident.humanized_incident_type}
  %br
  County: #{@incident.county}
  %br
  Address: #{@incident.full_address}

%p
  Escalation Level: #{@event.name}
  %br
  Message: #{@options[:message]}

- if chapter_message(@incident)
  %p=chapter_message(@incident)

%p
  You are assigned to this event at the level of #{@template}.
  View in DCSOps:
  =link_to incidents_chapter_incident_url(@incident.chapter, @incident), incidents_chapter_incident_url(@incident.chapter, @incident)