%p
  Hello,
%p
  The incident below was marked as invalid.  It will not be counted as a response and an incident report will not be required.
%p
  Incident Number: #{@incident.incident_number}
  %br
  Shift Territory: #{@incident.shift_territory}
  %br
  Date and Time Created: #{@incident.created_at.to_s}
  %br
  Invalid Type: #{@incident.humanized_reason_marked_invalid}
  %br
  Reason: #{@incident.narrative}