- dat = @incident.dat_incident
%p
  A New DAT Incident Report was filed.  See full details at 
  =link_to incidents_region_incident_url(@incident.region, @incident), incidents_region_incident_url(@incident.region, @incident)

%p
  Incident: #{@incident.incident_number}
  %br
  Shift Territory: #{@incident.shift_territory_name}
  %br
  Address: #{@incident.address} #{@incident.city} #{@incident.city} #{@incident.state}
  %br
  Notification Received: #{@incident.created_at.to_s :date_time}

%p
  Incident Type: #{@incident.humanized_incident_type}
  %br
  Incident Call Type: #{dat.humanized_incident_call_type}
  %br
  Structure Type: #{dat.humanized_structure_type}

%p
  Population: #{pluralize @incident.num_adults, "adult"}, #{pluralize @incident.num_children, 'child'}
  %br
  Population: #{dat.num_people_injured} injured, #{dat.num_people_hospitalized} hospitalized, #{dat.num_people_deceased} deceased
  %br
  Families: #{@incident.num_families}
  %br
  Units: #{dat.units_total}

%p
  Damage Assessment: #{dat.units_not_livable} not livable, #{dat.units_livable} livable, #{dat.units_destroyed} destroyed, #{dat.units_major} major, #{dat.units_minor} minor, #{dat.units_affected} affected

%p
  Services Provided: #{@incident.services_description}
  %br
  Narrative: #{@incident.narrative}

%p
  Responders:
  %br
  -@incident.all_responder_assignments.each do |response|
    =response.person.full_name
    \ - 
    =response.humanized_role
    %br