Incident #{@incident.incident_number} in #{@incident.city}, #{@incident.state} (#{@incident.territory.name}) has been pending without a report for at least 12 hours.  View in DCSOps: #{@incident.path}