%p An Initial Incident Report has been filed for incident #{@incident.incident_number} in #{@incident.city}, #{@incident.state}.

%p
  Region: #{@incident.region.name}
  %br
  Division: #{@incident.region.division_name}

%p
  The IIR document is attached to this message.  You may also view it in DCSOps at #{link_to incidents_region_incident_url(@incident.region, @incident), incidents_region_incident_url(@incident.region, @incident)}