%p
  -if @incident.dispatch_log.try(:delivered_at)
    An incident has been dispatched:
  -else
    A New Dispatch Request Was Received:

%p
  Incident: #{@incident.incident_number}
  %br
  County: #{@incident.area_name}
  %br
  -if dispatch = @incident.dispatch_log
    Incident Type: #{dispatch.incident_type}
    %br
    Address: #{dispatch.address}
    %br
    \# Displaced: #{dispatch.displaced}
    %br
    Services Requested: #{dispatch.services_requested}
    %br
    Agency: #{dispatch.agency}
    %br
    Contact: #{dispatch.contact_name}
    %br
    Phone: #{dispatch.contact_phone}
    %br
  -if dispatch and dispatch.delivered_at
    Delivered At: #{dispatch.delivered_at.to_s :date_time}
    %br
    Delivered To: #{dispatch.delivered_to}
    %br
  -if @incident.narrative.present?
    Initial Details: 
    =@incident.narrative
    %br
  -if @incident.address
    Address: #{@incident.address} #{@incident.city}, #{@incident.state} #{@incident.zip}
    %br
    County: #{@incident.county}

-if dispatch
  %p
    History:
    %br
    - dispatch.log_items.sort_by(&:action_at).each do |item|
      - next if item.action_type =~ /^SMS/
      #{item.action_type}: #{item.recipient} - #{item.result}
      %br

- if chapter_message(@incident)
  %p=chapter_message(@incident)

%p
  View in DCSOps:
  =link_to incidents_chapter_incident_url(@incident.chapter, @incident), incidents_chapter_incident_url(@incident.chapter, @incident)
