%table#incidents.full(border="0" cellpadding="0" cellspacing="0")
  %tr
    %td(colspan=2)
      %h2.center Local Incident Details
  %tr
    %td(colspan=2)
      %table.counts(valign="top")
        %tr
          %td.center.full
            %strong=period_name
            %br
            =pluralize @weekly_stats.incident_count, "Incident"
            %br
            =pluralize @weekly_stats.client_count, 'Client'
          %td.center
            %strong This Year
            %br
            =pluralize @yearly_stats.incident_count, "Incident"
            %br
            =pluralize @yearly_stats.client_count, 'Client'
        %tr
          %td
            %br
  -if @incidents.blank?
    %tr
      %td.full.center(colspan="2")
        %h4
          There were no responses during this period.
  -else
    %tr
      %td.incident-list(style="vertical-align: top; overflow: visible")
        =render 'county_statistics'
        - @incidents.each do |inc|
          .incident-header
            %a{href:incidents_region_incident_url(inc.region, inc)}
              =inc.date.to_s :dow_short
              ==-
              #{inc.city}, #{inc.state}
              %small (#{inc.county} - #{inc.incident_number})
          - if inc.dat_incident
            %p
              %strong Incident:
              =inc.humanized_incident_type
              %strong Impact:
              =inc.demographics_description
              %br
              %strong Responders:
              =inc.all_responder_assignments.was_available.count
              %strong Services Provided:
              =inc.services_description || 'None'
          -else
            %strong No Incident Report Filed
      %td(style="vertical-align: top; overflow: visible")
        %div.image-cell
          %img{src: static_maps_url(false), style: "height: #{map_height}px; width: #{map_width}px"}
  %tr
    %td
      / Need this here as Apple mail sometimes won't display the last cell in a table
    %td