!!! 5
%html
  %head
    %title
      =title
    /%link(rel="stylesheet" href="application.css")
    :scss
      h1, h2, h3, h4 {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        width: 100%;
        line-height: 1.3;

        small {
          font-size: 75%;
        }
        &:first-child {
          margin-bottom: 3px;
          margin-top: 0;
        }
        
      }
      h1 {
        font-size: 200%;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 10px;
      }
      h3 {
        font-size: 125%;
        margin: 0;
      }
      .incident-header {
        font-weight: bold;
        margin: 0 !important;
        padding-top: 10px;
        &:first-child {
          padding-top: 0;
        }
      }
      a {
        text-decoration: none;
        //acolor: #636669;
      }
      .center {
        text-align: center;
      }
      .nowrap {
        white-space: nowrap;
      }
      p {
        margin: 0;
        padding: 0;
        font-weight: bold;
        strong {
          font-weight: normal;
        }
      }
      .counts {
        width: 100%;
        font-size: 120%;
        strong {
          font-size: 120%;
        }
      }
      table.full {
        width: 100%;
      }
      body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 10pt;
        background-color: #eee;
        padding: 0;
        margin: 0;
      }
      #content {
        background-color: #ffffff;
        border: 1px solid #aaa;
      }
      #bg-wrapper {
        margin: 0;
        padding: 0;
      }
      table {
        margin: 0; padding: 0
      }
      td {
        vertical-align: top;
      }
      #incident-statistics {
        width: 100%;
        td {
          width: 50%;
          padding: 0 1em;
        }
      }
      .incident-list {
        padding-right: 10px;
      }
      #title {
        margin: 0;
        padding: 15px 0 5px 0;
        line-height: 1;
      }
      #subtitle {
        margin: 0;
        padding-bottom: 20px;
      }
      table.hr {
        width: 100%;
        margin: 0;
        padding: 0 5%;

        td {
          width: 100%;
          border-bottom: 1px solid #aaa;
        }
      }
    %style(data-immutable=true)
      :plain
        @media (-webkit-min-device-pixel-ratio: 2), 
          (min-resolution: 192dpi) {
          .image-cell img {
            display: none !important;
          }
          .image-cell {
            background-image: url("#{static_maps_url(true)}");
            width: #{map_width}px !important;
            height: #{map_height}px !important;
            background-size: #{map_width}px #{map_height}px;
          }
        }
  %body(leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0")
    %center
      %table#bg-wrapper(border="0" cellpadding="0" cellspacing="0")
        %tr
          %td
            %h1.center#title
              =title
            %h2.center#subtitle
              =subtitle
        %tr
          %td
            %table#content(border="0" cellpadding="10" cellspacing="0" width="600")
              - sections_to_render.each_with_index do |section, idx|
                %tr
                  %td{id: section.to_s.dasherize}
                    -if idx != 0
                      %table.hr
                        %tr
                          %td
                    =render section

        %tr
          %td.center
            %small
              %br
              This message is automatically sent by the DCSOps system.
              =link_to "Manage or unsubscribe here.", incidents_notification_subscription_report_url(@person)
              %br
              %br

