%p#notice= notice

%p
  %b Person:
  = resource.person.full_name
%p
  %b Shift:
  = resource.shift.shift_group.name
  = resource.shift.name
%p
  %b Date:
  = resource.date.to_s :dow_long

= link_to 'Swap', swap_resource_path, class: 'btn'
= link_to 'Back', scheduler_root_path, class: 'btn'
