= form_for resource, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :first_name, :class => 'control-label'
    .controls
      = f.text_field :first_name, :class => 'text_field'
  .control-group
    = f.label :last_name, :class => 'control-label'
    .controls
      = f.text_field :last_name, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :home_phone, :class => 'control-label'
    .controls
      = f.text_field :home_phone, :class => 'text_field'
  .control-group
    = f.label :cell_phone, :class => 'control-label'
    .controls
      = f.text_field :cell_phone, :class => 'text_field'
  .control-group
    = f.label :work_phone, :class => 'control-label'
    .controls
      = f.text_field :work_phone, :class => 'text_field'
  .control-group
    = f.label :alternate_phone, :class => 'control-label'
    .controls
      = f.text_field :alternate_phone, :class => 'text_field'
  .control-group
    = f.label :sms_phone, :class => 'control-label'
    .controls
      = f.text_field :sms_phone, :class => 'text_field'
  .control-group
    = f.label :phone_1_preference, :class => 'control-label'
    .controls
      = f.text_field :phone_1_preference, :class => 'text_field'
  .control-group
    = f.label :phone_2_preference, :class => 'control-label'
    .controls
      = f.text_field :phone_2_preference, :class => 'text_field'
  .control-group
    = f.label :phone_3_preference, :class => 'control-label'
    .controls
      = f.text_field :phone_3_preference, :class => 'text_field'
  .control-group
    = f.label :phone_4_preference, :class => 'control-label'
    .controls
      = f.text_field :phone_4_preference, :class => 'text_field'
  .control-group
    = f.label :address, :class => 'control-label'
    .controls
      = f.text_field :address, :class => 'text_field'
  .control-group
    = f.label :city, :class => 'control-label'
    .controls
      = f.text_field :city, :class => 'text_field'
  .control-group
    = f.label :state, :class => 'control-label'
    .controls
      = f.text_field :state, :class => 'text_field'
  .control-group
    = f.label :zip, :class => 'control-label'
    .controls
      = f.text_field :zip, :class => 'text_field'
  .control-group
    = f.label :vc_id, :class => 'control-label'
    .controls
      = f.text_field :vc_id, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), roster_people_path, :class => 'btn'
