- model_class = Roster::Person
.page-headera
  %h1
    /%i.fa.fa-user
    = resource.first_name
    = resource.last_name
  /= link_to 'Change Password', '#', class: 'btn btn-small'
  /= link_to 'Send Password Reset', '#', class: 'btn btn-small'

.row
  .col-sm-6
    %h3 
      Details
    %p
      %strong Positions:
      - resource.positions.each do |pos|
        %br
        = pos.name
    %p
      %strong Shift Territories:
      - resource.shift_territories.each do |pos|
        %br
        = pos.name
    %small
      %i
        %strong Note:
        Details and contact information are synchronized from Volunteer Connection.  
        To change your information,
        %a{href: "https://volunteerconnection.redcross.org/?nd=profile_edit"} edit your profile in Volunteer Connection
        or contact your county staffing or CDV team.  Changes take 24-48 hours to take effect.

  .col-sm-6
    %h3 Contact Info
    %p
      %strong= model_class.human_attribute_name(:email) + ':'
      -if resource.email.present?
        = resource.email
      -else
        %span.text-danger
          %strong
            No Email Address.
          Please complete your
          =link_to 'volunteer connection profile.', "https://volunteerconnection.redcross.org/?nd=profile_edit"
    %p
      %strong Address:
      %br
      -if resource.lat and resource.lng and resource.address1
        = resource.address1
        %br
        = resource.address2
        %br
        = "#{resource.city},"
        = resource.state
        = resource.zip
      -else
        %span.text-danger
          %strong
            Incomplete Address
          Please complete your
          =link_to 'volunteer connection profile.', "https://volunteerconnection.redcross.org/?nd=profile_edit"
    %p
      %strong Preferred Contact Order:
      %br
      When Disaster Services is trying to reach you, we will call phones in this order:
      %ol
        - resource.phone_order.each do |val|
          %li
            %strong=val[:label].to_s.titleize
            = val[:number]
    %h3 Contact Settings
    %p
      %small
        If you would like to receive shift and dispatch notifications and communicate with your Dispatcher/Duty Officer by text:
        %ol
          %li Identify your preferred phone number
          %li Select your provider under SMS/Carrier Settings
          %li Select Call this number for disasters under Call Settings.
    %p
      Click on the blue underlined text to change a value.
    %table.table.table-condensed
      %tr
        %th(style="width:100px")
        %th(style="width:150px") Phone Number
        %th SMS/Carrier Settings
        %th Call Settings
      - [:home_phone, :cell_phone, :work_phone, :alternate_phone, :sms_phone].each do |phone|
        - carrier = resource.send "#{phone}_carrier".to_sym
        - if resource.send phone
          %tr
            %td=phone.to_s.titleize
            %td=resource.send phone
            %td 
              %a{:class=>"carrier-editable", :"data-type" => 'select', :"data-value" => carrier.try(:id) || "nil", :"data-name" => "#{phone}_carrier_id", href: "#"}
            %td.form-inline
              -key="#{phone}_disable"
              %a{:class=>"call-editable", :"data-type" => 'select', :"data-name" => key, :"data-value" => resource.send(key) ? 1 : 0}

- content_for :footer_js do
  - carriers = [{value: "nil", text: "Don't send SMS to this number"}] + Roster::CellCarrier.all.map{|c| {text: c.name, value: c.id}}
  - call_opts = [{value: 0, text: "Call this number for disasters"},{value: 1, text: "Don't call this number for disasters"}]
  :javascript
    $(".carrier-editable").editable({
      source: #{raw carriers.to_json},
      url: "#{resource_path}",
      resource: "#{resource.class.model_name.param_key}",
    });
    $(".call-editable").editable({
      source: #{raw call_opts.to_json},
      url: "#{resource_path}",
      resource: "#{resource.class.model_name.param_key}",
      params:  function(params) {
        params.value = params.value=="1";
        return params;
      }
    });
