Hello, #{ @recipient.first_name }

%p
  - if @person == @recipient
    #{ @shift.person.full_name } has asked you to take over their shift:
  - else 
    #{ @shift.person.full_name } has made a shift available for swap and is looking for someone to fill it.

%p
  Date: #{ @shift.date.to_s :dow_long }
  %br
  Shift: #{ @shift.shift_time.name } #{ @shift.shift.name }

%p
  - if @person == @recipient
    Click the link below to confirm that you want to take over this shift.  If you don't want to accept the shift, you do not need to do anything, although you should send an email to #{ @shift.person.first_name } at #{ @shift.person.email } to let them know.
  -else
    If you are available to take this shift, please click the link below to be taken to the scheduling system.  Otherwise, you can ignore this email.

%p
  =link_to scheduler_shift_assignment_shift_swap_url(@shift), scheduler_shift_assignment_shift_swap_url(@shift)

%p
  If you have any questions, please contact your DAT Administrator.
%p
  \--
%p
  This message is sent by the DCSOps Scheduling System.  Edit your notification preferences here:
  =link_to me_scheduler_notification_settings_url, me_scheduler_notification_settings_url