= form_for resource, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :abbrev, :class => 'control-label'
    .controls
      = f.text_field :abbrev, :class => 'text_field'
  .control-group
    = f.label :shift_group_id, :class => 'control-label'
    .controls
      = f.collection_select :shift_group_id, Scheduler::ShiftGroup.all, :id, :name
  .control-group
    = f.label :max_signups, :class => 'control-label'
    .controls
      = f.text_field :max_signups, :class => 'text_field'
  .control-group
    = f.label :county_id, :class => 'control-label'
    .controls
      = f.collection_select :county_id, counties_for_shift_group, :id, :name
  .control-group
    = f.label :ordinal, :class => 'control-label'
    .controls
      = f.text_field :ordinal, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), scheduler_shifts_path, :class => 'btn'
