.text-center= paginate collection, :theme => 'twitter-bootstrap-3', remote: true
- if can? :download, Roster::Person
  %h1(style="font-size:150%;text-align:center;margin-top:0px")
    = link_to 'Download as CSV', scheduler_people_path(format: :csv, params: request.query_parameters.merge(page: 'all')), download: "people.csv"

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th Num Shifts
      %th Prev Shift
      %th Next Shift
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - collection.each do |person|
      %tr
        %td{style: "max-width: 20em"}
          = link_to person.full_name, roster_person_path(person)
          %br
          %small
            = person.positions.select{|p|!p.hidden}.map(&:name).join ", "
        %td
          = pluralize num_shifts(person), 'shift'
        %td
          -if d = prev_shift(person)
            =d.to_s :dow_short
            %br
            (#{(Date.current-d).to_i} days ago)
        %td
          -if d = next_shift(person)
            =d.to_s :dow_short
        %td.small
          -if flex = can?( :update, Scheduler::FlexSchedule.new(person: person))
            = link_to "Flex Schedule", scheduler_flex_schedule_path(person), :class => 'btn btn-xs btn-default'
          -if reminders = can?( :update, Scheduler::NotificationSetting.new(person: person))
            = link_to "Reminders", scheduler_notification_setting_path(person), :class => 'btn btn-xs btn-default'
          = link_to "Shifts", scheduler_person_shift_assignments_path(person), :class => 'btn btn-xs btn-default'
          = link_to "Email", "mailto:#{person.email}", :class => 'btn btn-xs btn-default'

.text-center= paginate collection, :theme => 'twitter-bootstrap-3', remote: true