.text-center= paginate collection, :theme => 'twitter-bootstrap-4', remote: true

%table.table.table-condensed
  %tr
    %th
    %th Incident
    %th Date
    %th Address
    %th City
    %th County
    %th Type

  - collection.each do |resource|
    %tr
      %td
        =link_to resource_path(resource) do
          %span.label{class: (case resource.status; when 'open' then 'label-success'; when 'closed' then 'label-info'; when 'invalid' then 'label-danger'; end)}=resource.humanized_status
      %td{class: "incident-number-#{resource.status}"}
        = link_to resource.incident_number, resource_path(resource)
      %td= resource.date
      %td= resource.address
      %td= resource.city
      %td= resource.county
      %td= resource.humanized_incident_type
.text-center= paginate collection, :theme => 'twitter-bootstrap-4', remote: true
