- model_class = Roster::County
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:chapter_id) + ':'
  %br
  = resource.chapter_id
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = resource.name
%p
  %strong= model_class.human_attribute_name(:county_code) + ':'
  %br
  = resource.county_code
%p
  %strong= model_class.human_attribute_name(:fips_code) + ':'
  %br
  = resource.fips_code
%p
  %strong= model_class.human_attribute_name(:gis_name) + ':'
  %br
  = resource.gis_name
%p
  %strong= model_class.human_attribute_name(:vc_regex_raw) + ':'
  %br
  = resource.vc_regex_raw

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), roster_counties_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_roster_county_path(resource), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), roster_county_path(resource), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
