= form_for resource, url: url_for({action: resource.persisted? ? :update : :create}), builder: FormtasticBootstrap::FormBuilder, html: {class: 'form-horizontal'}, remote: request.xhr? do |f|
  .row
    .col-sm-6
      %h3 
        Assign Responder
        %small=link_to 'Cancel', collection_path
      -if f.object.person
        =f.input :person_id, as: :hidden
        .form-group
          %label.control-label Person
          .form-wrapper
            .form-control-static=f.object.person.full_name
        - f.object.person.phone_order.each do |ph|
          .form-group
            %label.control-label=ph[:label].to_s.titleize
            .form-wrapper
              .form-control-static
                =ph[:number]
                -if ph[:carrier]
                  (sms)
      -else
        =f.input :person, as: :person_typeahead, text_value: f.object.person.try(:full_name), filter: {for_region: f.object.incident.region_id}
      =f.input :role, collection: grouped_options_for_select(Incidents::ResponderAssignment.grouped_roles(true), f.object.role), label: 'Response'
      =f.input :was_flex, label: 'Flex Responder'
      =f.input :driving_distance, as: :hidden
      - if f.object.persisted?
        =f.input :dispatched_at, as: :time_field
        =f.input :on_scene_at, as: :time_field
        =f.input :departed_scene_at, as: :time_field
      .form-group
        =label_tag :send_assignment_sms, nil, class: 'control-label'
        .form-wrapper
          .form-control-static=check_box_tag :send_assignment_sms, '1', params[:send_assignment_sms] == '1'
      .form-group
        =label_tag :send_assignment_email, nil, class: 'control-label'
        .form-wrapper
          .form-control-static=check_box_tag :send_assignment_email, '1', params[:send_assignment_email] == '1'
      =f.actions do
        =f.action :submit, label: "Save Assignment", button_html: {class: 'btn btn-primary'}
        -unless f.object.new_record?
          =link_to 'Remove', resource_path, class: 'btn btn-danger', method: 'delete'
    .col-sm-6
      .assignment-map.gmap(style="height: 300px")
      .directions.gmap

- content_for :footer_js do
  = google_maps_javascript
  -if resource.person
    :javascript
      window.assignmentController = new IncidentAssignmentController(#{raw map_config(scope).to_json}, $('.assignment-map')[0], $('.directions')[0])
      assignmentController.showAssignment(#{raw parent.lat.to_f.to_json}, #{raw parent.lng.to_f.to_json}, #{raw person.lat.to_f.to_json}, #{raw person.lng.to_f.to_json})

-if request.xhr?
  =yield :footer_js