.app{"ng-app" => ''}
  .row
    .col-sm-7
      %h3
        =link_to parent_path do
          %i.fa.fa-chevron-left
          #{parent.incident_number} #{parent.city}, #{parent.state}
      %strong= Incidents::IncidentPresenter.new(parent).full_address
      .assigned-table{data: {refresh_name: "responders", refresh: url_for(partial: 'assigned_table')}}
        =render 'assigned_table'
      .incoming-table{data: {refresh_name: "incoming", refresh: url_for(controller: 'incidents/responder_messages', action: 'index', partial: 'incoming_table')}}
        =render partial: 'incidents/responder_messages/incoming_table', locals: {incident: parent}
    .col-sm-5
      %h4
        Map
        .responder-map{style: "height: 300px"}
  .row
    .col-sm-12
      %h4
        -if has_shift_notes
          =link_to 'View Shift Notes', '#', data: {edit_panel: incidents_region_incident_shift_notes_panel_index_path}
        -else
          No Shift Notes
      %h4 
        Available Responders
        -if can? :create, collection.build
          %small=link_to 'Add Other Person', new_resource_path
        -#=form_tag '', method: :get, class: 'form-inline', style: 'display: inline' do
        -#  =label_tag :ignore_area
        -#  =check_box_tag :ignore_area, '1', ignore_area
        -#  =submit_tag 'Filter', class: 'btn btn-mini'
        Recruitment message:
        =editable_string parent, :recruitment_message, url: parent_path, type: 'textarea'
      .responders-table{data: {refresh_name: "recruitment", refresh: url_for(partial: 'responders_table')}}
        =render 'responders_table'

.modal.fade#edit-modal
  .modal-header 
    %a.close(data-dismiss="modal") &times;
    %h3 Edit
  .modal-body
  .modal-footer
    %a.btn.btn-primary(data-dismiss="modal") Close

- content_for :footer_js do
  :javascript
    $(function() {
      window.editPanelController = new IncidentEditPanelController();
      window.respondersController = new IncidentRespondersController();
      respondersController.initMap({}, $('.responder-map')[0]);
      respondersController.setIncidentLocation(#{raw parent.lat.to_json}, #{raw parent.lng.to_json});
      respondersController.loadTravelTimes();
      respondersController.mapResponders();
      $("[data-toggle='tooltip']").tooltip()
    });
  = google_maps_javascript
  = incidents_pubnub_setup(parent)
