%h3 DAT Scheduling
.row
  .col-sm-4
    %h5 
      %i.fa.fa-user
      Personal Details
    %p
      = "Welcome, #{current_person.first_name}."
      You have completed 
      = pluralize(Scheduler::ShiftAssignment.where(person_id: current_person).where('date < ?', Date.current).count, 'shift')
      since the new scheduling system was launched.

    %p
      -unless upcoming_shifts.blank?
        %strong Upcoming shifts:
        %br
        - upcoming_shifts.each do |ass|
          = ass.shift.name
          on
          = ass.date.to_s :dow_long
          = ass.shift_time.name
          %br
        %small=link_to "All Upcoming Shifts", scheduler_shift_assignments_path(my_shifts: true)
      - else
        You have no upcoming shifts scheduled.

    %p
      /=link_to "See your upcoming shifts"
      /%br
      %a{href: scheduler_notification_setting_path(current_person)}
        %i.fa.fa-bell
        Update reminder preferences
      %br
      %a{href: roster_person_path(current_person)}
        %i.fa.fa-phone
        Edit contact details
    %h5 
      %i.fa.fa-time
      Your flex availability schedule:
      %small=link_to "(Edit)", scheduler_flex_schedule_path(current_person)
    - sched = Scheduler::FlexSchedule.where(id: current_person.id).first_or_initialize
    %table.table.table-condensed.flex-small
      %tr
        %th
        - days_of_week.each do |dow|
          %th=dow[0..2].titleize
      - shift_times.each do |time|
        %tr
          %th
            %span{"data-toggle" => 'tooltip', title: flex_time_range(time, current_person.region) }
              =time.titleize
          - days_of_week.each do |dow|
            -avail = sched.send("available_#{dow}_#{time}")
            %td{class: avail && "avail"}
              =avail ? 'Yes' : 'No'
  .col-sm-4
    %h5 
      %i.fa.fa-calendar
      Calendar Details
    - month = Date.current.beginning_of_month
    - 3.times do
      %div
        /%strong= link_to month.strftime("%B"), calendar_month(month)
        %strong=month.strftime("%B")
        ==-
        %small
          = shifts_available_for_month(month)
          Shifts Available
        .links
          %small=link_to "Sign Up", calendar_month(month, show_shifts: :mine)
          |
          %small=link_to "County Schedule", calendar_month(month, show_shifts: :county)
          |
          %small=link_to "Spreadsheet", calendar_month(month, display: :spreadsheet)
        - month = month.next_month
    %br
    -if can? :update, Scheduler::Shift
      %div
        %a{href: scheduler_shifts_path}
          %i.fa.fa-cog
          Manage Calendars
    -if can? :read, Scheduler::FlexSchedule
      %div
        %a{href: scheduler_flex_schedules_path}
          %i.fa.fa-time
          Show Flex Schedule Calendar
    -if can? :read, Roster::Person
      %div
        %a{href: scheduler_people_path}
          %i.fa.fa-user
          Show Roster
  .col-sm-4
    -if can? :read, :on_call
      %h5 
        %i.fa.fa-group
        Current On-Call Team:
        %small=link_to 'See All', scheduler_on_call_path
      - groups = Scheduler::ShiftTime.current_groups_for_region(current_region)
      - groups.select{|g| g.period == 'daily' }.each do |grp| 
        %strong=grp.start_date.to_s(:dow_long) + " - " + grp.name
        %br
      %br
      = render partial: 'current_shifts', locals: {counties: current_person.counties, groups: groups}

.row
  .col-sm-6
    %h5 
      %i.fa.fa-random
      Available Shift Swaps
    - if available_swaps.blank?
      There are no shift swaps currently available to you.
    - else
      %table.table.table-condensed
        %tr
          %th Date
          %th Shift
          %th County
          %th From
          %th 
        - available_swaps.each do |shift|
          %tr
            %td=shift.date.to_s :dow_short
            %td
              =shift.shift_time.name
              =shift.shift.name
            %td=shift.shift.county.abbrev
            %td=shift.person.full_name
            %td
              =link_to "Claim", scheduler_shift_assignment_shift_swap_path(shift), class: "btn btn-small"
  .col-sm-6
    %h5
      %i.fa.fa-fire
      Your Recent Responses
    %table.table
      %thead
        %tr
          %th Incident
          %th Status
      %tbody
        - responses.each do |response|
          %tr
            %td
              =link_to incidents_region_incident_path(response.incident.region, response.incident) do
                = response.incident.incident_number
                = response.incident.humanized_incident_type
                = response.incident.address
            %td=response.humanized_role
    If this information is incomplete or incorrect, please contact your DAT Administrator.


- content_for :footer_js do
  :javascript
    $("[data-toggle='tooltip']").tooltip()
