%h3 
  Flex Schedule Roster
  -if cid = current_scopes[:shift_territory] and shift_territory = Roster::ShiftTerritory.where(id: cid).first
    ==-
    = shift_territory.name

.noprint
  =form_tag scheduler_flex_schedules_path, method: :get do
    %table.table.table-condensed
      %tr
        %th Show Shift Territory
        %td
          =select_tag "shift_territory", options_from_collection_for_select(current_region.shift_territories.enabled, :id, :name, current_scopes[:shift_territory]), multiple: false, id: 'choose-shift_territory', prompt: 'All', class: "form-control"
      %tr
        %th Only People With Availability
        %td
          =hidden_field_tag 'with_availability', '0'
          =check_box_tag 'with_availability', '1', current_scopes[:with_availability]
      %tr
        %th Only Show People Available During:
        %td
          %table.table.table-bordered.filter-table
            %tr
              %th
              - days_of_week.each do |d|
                %th=d[0..2].titleize
            - shift_times.each do |t|
              %tr
                %th=t.titleize
                - days_of_week.each do |d|
                  - name = "#{d}_#{t}"
                  %td=check_box_tag "available[]", name, params[:available] && params[:available].include?(name)
      = fields_for :q, search do |f|
        %tr
          %th Only Show People With Positions:
          %td
            =f.collection_select :person_positions_id_in, current_region.positions.visible.order(:name), :id, :name, {include_blank: true}, {multiple: true, class: "form-control"}
    =submit_tag 'Show', class: 'btn btn-primary'

%table.table.table-condensed.flex-table
  %thead
    %tr
      %th Person
      %th Positions
      %th City
      %th Phone 1
      %th Phone 2
      %th Email
      - days_of_week.each do |d|
        %th.day-label{colspan: 2}=d[0..2].titleize
      %th.noprint
  %tbody
    - abbrevs = {}
    - collection.each do |sched|
      %tr
        %td= sched.person.full_name
        %td
          %small= sched.person.positions.select{|p|!p.hidden}.map{ |pos|abbrevs[pos.abbrev] = pos.name; "<span data-toggle='tooltip' title='#{h pos.name}'>#{pos.abbrev}</span>".html_safe}.reduce{|a, b| "#{a}, #{b}".html_safe}
        %td=sched.person.city.try :titleize
        - phones = sched.person.phone_order
        %td
          = phones[0] && "#{phones[0][:number]} (#{phones[0][:label][0]})"
        %td
          = phones[1] && "#{phones[1][:number]} (#{phones[1][:label][0]})"
        %td
          %small=sched.person.email
        - days_of_week.each do |d|
          %td.day= sched.available(d, 'day') ? 'D' : ''
          %td.night= sched.available(d, 'night') ? 'N' : ''
        - if can? :update, sched
          %td.noprint= link_to 'Edit', resource_path(sched)
  %tfoot
    %tr
      %th(colspan=19)
        %small
          Positions:
          = abbrevs.map{|a, n| "#{a}=#{n}"}.join ", "
      %th.noprint
- content_for :footer_js do
  :javascript
    $("[data-toggle='tooltip']").tooltip()
