%h2.center
  #{current_chapter.short_name} DAT Incidents

.row
  .span4
    %h4 Recent Incidents
    -recent_incidents.each do |inc|
      .incident-box(data-incident-id="#{inc.id}")
        %strong
          .pull-right
            -if inc.dat_incident
              =inc.dat_incident.incident_type.titleize
          %a{href: incidents_incident_path(inc)}
            =inc.date.strftime "%-m/%-d"
            #{inc.city}
        %br
        -if inc.dat_incident
          #{pluralize inc.dat_incident.units_total, "Unit"}, 
        #{pluralize inc.num_families, "Family"},
        #{pluralize inc.num_adults, "Adult"},
        #{pluralize inc.num_children, "Child"}
        %br
        %strong=inc.incident_status_title
        %br
        %br

  .span8
    .map-container
      .all-incidents-map{style: "height: 500px"}

- content_for :footer_js do
  = google_maps_javascript
  :javascript
    allIncidentsMapController = new AllIncidentsMapController(#{map_json_for(recent_incidents).to_json}, {show_icons: true})




