.row
  - menu_col = editable? ? 'col-sm-4' : ''
  - stats_col = editable? ? 'col-sm-8' : 'col-sm-12'
  %div(class=menu_col)
    -if editable?
      %ul.nav.nav-tabs.nav-stacked.nav-tabs-small
        -if scope.enable_dispatch_console && can?(:dispatch_console, scope)
          %li
            %a{href: new_incidents_region_dispatch_intake_path(scope)}
              Dispatch New Incident
              %i.fa.fa-chevron-right
        -if can? :create, Incidents::Incident
          %li
            %a{href: new_incidents_region_incident_path(scope)}
              Create Incident Report
              %i.fa.fa-chevron-right
        -if scope.enable_dispatch_console && can?(:dispatch_console, scope)
          %li
            %a{href: incidents_region_dispatch_index_path(scope)}
              Dispatch Console
              %i.fa.fa-chevron-right
        -if can? :incidents_admin, Incidents::Incident
          %li
            %a{href: needs_report_incidents_region_incidents_path(scope)}
              Currently Open Incidents
              %i.fa.fa-chevron-right
        -if current_region.incidents_use_global_log && can?(:read, Incidents::EventLog)
          %li
            =link_to incidents_region_event_logs_path(scope) do
              ECC Log
              %i.fa.fa-chevron-right
        -#-if can? :link_cas, Incidents::Incident
        -#  %li
        -#    %a{href: incidents_region_cas_link_index_path(scope)}
        -#      Link CAS Incidents
        -#      -if num_incidents_to_link > 0
        -#        (#{num_incidents_to_link})
        -#      %i.fa.fa-chevron-right
        -#-if can? :read, Incidents::CasIncident
        -#  %li
        -#    %a{href: incidents_region_cas_incidents_path(scope)}
        -#      Incident Tracker
        -#      %i.fa.fa-chevron-right
        -if can? :create, Incidents::ReportSubscription.new(scope: scope, person: current_user, report_type: 'report')
          %li
            %a{href: incidents_scope_report_subscription_path(scope, current_user)}
              Daily/Weekly Report
              %i.fa.fa-chevron-right
        -if can? :show, :responders
          %li
            %a{href: incidents_region_responders_path(scope)}
              Responder History
              %i.fa.fa-chevron-right
        
  %div(class=stats_col)
    %h1.center
      #{scope.short_name} DAT Incidents
    %table(style="width: 100%")
      %tr
        - incident_stats_boxes.each_with_index do |(title, stats), idx|
          %td{class: (idx != 0) && 'hidden-phone'}
            %h3.center=title
            %p.center.lead
              %small
                %i.fa.fa-fire
                =pluralize stats.incident_count, "Incident"
                %br
                %i.fa.fa-group
                =pluralize stats.family_count, "Family"
                %br
                %i.fa.fa-user
                =pluralize stats.client_count, "Client"


.row
  .col-sm-5.col-md-4
    .recent-table{data: {refresh_name: "timeline details", refresh: url_for(partial: 'recent_table')}}
      =render 'recent_table'
    -if can? :index, Incidents::Incident
      %h5
        =link_to 'More Incidents&hellip;'.html_safe, incidents_region_incidents_path(scope)
    -if can? :read_case_details, Incidents::Incident and current_region.incidents_report_editable
      %h5
        =link_to 'Current Activity&hellip;'.html_safe, activity_incidents_region_incidents_path(scope)

  .col-sm-7.col-md-8
    .map-container
      .all-incidents-map{style: "height: 500px; width: 100%"}

- content_for :footer_js do
  = google_maps_javascript
  :javascript
    config = #{raw map_config(scope).to_json};
    allIncidentsMapController = new AllIncidentsMapController(#{raw map_json_for(recent_incidents).to_json}, config);
  - if scope.boundary_kmz_location.present?
    :javascript
      allIncidentsMapController.configureBoundaryLayer(#{raw scope.boundary_kmz_location.to_json});
  =region_pubnub_setup(current_region)




