.pull-right
  =link_to "Report Incident", new_incidents_incident_path
%h2.center
  #{current_user.chapter.short_name} DAT Incidents
  %br
  %small
    
.row
  - {"30 Days" => Incidents::Incident.unscoped.where{date >= 1.month.ago}.incident_stats, "This Year" => Incidents::Incident.where{date >= "2012-07-01"}.incident_stats, "5 Years" => Incidents::Incident.where{date >= 1.year.ago}.incident_stats}.each do |title, stats|
    .span4
      %h3.center=title
      %p.center.lead
        %small
          %i.icon-fire
          =pluralize stats.incident_count, "Incident"
          %br
          %i.icon-group
          =pluralize stats.case_count, "Family"
          %br
          %i.icon-user
          =pluralize stats.client_count, "Client"
.row
  .span4
    %h4 Recent Incidents
    -recent_incidents.each do |inc|
      .incident-box(data-incident-id="#{inc.id}")
        %strong
          .pull-right
            =inc.incident_type.titleize
          %a{href: incidents_incident_path(inc)}
            =inc.date.strftime "%-m/%-d"
            #{inc.city}
        %br
        #{pluralize inc.units_affected, "Unit"}, 
        #{pluralize inc.num_families, "Family"},
        #{pluralize inc.num_adults, "Adult"},
        #{pluralize inc.num_children, "Child"}

  .span8
    .map-container
      .all-incidents-map{style: "height: 500px"}

- content_for :footer_js do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
  :javascript
    allIncidentsMapController = new AllIncidentsMapController(#{map_json_for(recent_incidents).to_json})




