.row
  .span3
    %ul.nav.nav-tabs.nav-stacked
      -if can? :needs_report, Incidents::Incident
        %li
          %a{href: needs_report_incidents_incidents_path}
            Submit Incident Report
            %i.icon-chevron-right
      -if can? :link_cas, Incidents::Incident
        %li
          %a{href: link_cas_incidents_incidents_path}
            Link CAS Incidents
            %i.icon-chevron-right
      -if can? :tracker, Incidents::Incident
        %li
          %a{href: tracker_incidents_incidents_path}
            Incident Tracker
            %i.icon-chevron-right
      -if can? :create, Incidents::NotificationSubscription.new(person: current_user, notification_type: 'weekly')
        %li
          %a{href: incidents_notification_subscription_weekly_path(current_user)}
            Manage Subscription
            %i.icon-chevron-right
  .span9
    %h2.center
      #{current_user.chapter.short_name} DAT Incidents
    .row
      - incident_stats_boxes.each_with_index do |(title, stats), idx|
        %div{class: idx==0 ? 'span3' : 'span2'}
          %h3.center=title
          %p.center.lead
            %small
              %i.icon-fire
              =pluralize stats.incident_count, "Incident"
              %br
              %i.icon-group
              =pluralize stats.family_count, "Family"
              %br
              %i.icon-user
              =pluralize stats.client_count, "Client"


.row
  .span4
    %h4 Recent Incidents
    -recent_incidents.each do |inc|
      .incident-box(data-incident-id="#{inc.id}")
        %strong
          .pull-right
            -if inc.dat_incident
              =inc.dat_incident.incident_type.titleize
          %a{href: incidents_incident_path(inc)}
            =inc.date.strftime "%-m/%-d"
            #{inc.city}
          %small(style="color: grey")=inc.incident_number
        %br
        -if inc.dat_incident
          #{pluralize inc.dat_incident.units_total, "Unit"}, 
        #{pluralize inc.num_families, "Family"},
        #{pluralize inc.num_adults, "Adult"},
        #{pluralize inc.num_children, "Child"}
    -if can? :index, Incidents::Incident
      %h5
        =link_to 'More Incidents&hellip;'.html_safe, incidents_incidents_path

  .span8
    .map-container
      .all-incidents-map{style: "height: 500px"}

- content_for :footer_js do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
  :javascript
    allIncidentsMapController = new AllIncidentsMapController(#{map_json_for(recent_incidents).to_json})




