.row
  .span12
    .span3.noprint(style="float: left; margin-right: -100%")
      %ul.nav.nav-tabs.nav-stacked
        -if can? :needs_report, Incidents::Incident
          %li
            %a{href: needs_report_incidents_incidents_path}
              Submit Incident Report
              %i.icon-chevron-right
        -if can? :link_cas, Incidents::Incident
          %li
            %a{href: link_cas_incidents_incidents_path}
              Link CAS Incidents
              %i.icon-chevron-right
        -if can? :tracker, Incidents::Incident
          %li
            %a{href: tracker_incidents_incidents_path}
              Incident Tracker
              %i.icon-chevron-right
    %h2.center
      #{current_user.chapter.short_name} DAT Incidents
    
.row
  - {"30 Days" => Incidents::Incident.unscoped.where{date >= 1.month.ago}.incident_stats, "This Year" => Incidents::Incident.where{date >= "2012-07-01"}.incident_stats, "5 Years" => Incidents::Incident.where{date >= 5.years.ago}.incident_stats}.each do |title, stats|
    .span4
      %h3.center=title
      %p.center.lead
        %small
          %i.icon-fire
          =pluralize stats.incident_count, "Incident"
          %br
          %i.icon-group
          =pluralize stats.case_count, "Family"
          %br
          %i.icon-user
          =pluralize stats.client_count, "Client"
.row
  .span4
    %h4 Recent Incidents
    -recent_incidents.each do |inc|
      .incident-box(data-incident-id="#{inc.id}")
        %strong
          .pull-right
            -if inc.dat_incident
              =inc.dat_incident.incident_type.titleize
          %a{href: incidents_incident_path(inc)}
            =inc.date.strftime "%-m/%-d"
            #{inc.city}
          %small(style="color: grey")=inc.incident_number
        %br
        -if inc.dat_incident
          #{pluralize inc.dat_incident.units_affected, "Unit"}, 
        #{pluralize inc.num_families, "Family"},
        #{pluralize inc.num_adults, "Adult"},
        #{pluralize inc.num_children, "Child"}

  .span8
    .map-container
      .all-incidents-map{style: "height: 500px"}

- content_for :footer_js do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
  :javascript
    allIncidentsMapController = new AllIncidentsMapController(#{map_json_for(recent_incidents).to_json})




