.row
  .span3
    %ul.nav.nav-tabs.nav-stacked
      -if can? :needs_report, Incidents::Incident
        %li
          %a{href: needs_report_incidents_incidents_path}
            Submit Incident Report
            %i.icon-chevron-right
      -if can? :link_cas, Incidents::Incident
        %li
          %a{href: incidents_cas_link_index_path}
            Link CAS Incidents
            -if num_incidents_to_link > 0
              (#{num_incidents_to_link})
            %i.icon-chevron-right
      -if can? :read, Incidents::CasIncident
        %li
          %a{href: incidents_cas_incidents_path}
            Incident Tracker
            %i.icon-chevron-right
      -if can? :create, Incidents::NotificationSubscription.new(person: current_user, notification_type: 'report')
        %li
          %a{href: incidents_notification_subscription_report_path(current_user)}
            Manage Subscription
            %i.icon-chevron-right
      -if can? :show, :responders
        %li
          %a{href: incidents_responders_path}
            Show Responder Info
            %i.icon-chevron-right
      -if current_chapter.incidents_use_global_log && can?(:read, Incidents::EventLog)
        %li
          =link_to incidents_event_logs_path do
            ECC Log
            %i.icon-chevron-right
  %table.span9
    %tr
      %td{colspan: incident_stats_boxes.count}
        %h2.center
          #{current_chapter.short_name} DAT Incidents
    %tr
      - incident_stats_boxes.each_with_index do |(title, stats), idx|
        %td{class: (idx != 0) && 'hidden-phone'}
          %h3.center=title
          %p.center.lead
            %small
              %i.icon-fire
              =pluralize stats.incident_count, "Incident"
              %br
              %i.icon-group
              =pluralize stats.family_count, "Family"
              %br
              %i.icon-user
              =pluralize stats.client_count, "Client"


.row
  .span4
    %h4 Recent Incidents
    -recent_incidents.first(7).each do |inc|
      - inc = Incidents::IncidentPresenter.new inc
      .incident-box(data-incident-id="#{inc.id}")
        %strong
          .pull-right
            -if inc.status == 'open'
              %span.label.label-success Open
            =inc.humanized_incident_type
          %a{href: incidents_incident_path(inc)}
            =inc.date.strftime "%-m/%-d"
            #{inc.city}
          %small(style="color: grey")=inc.incident_number
        %br
        -if inc.valid_incident?
          =inc.demographics_description.titleize
        -else
          -if log = inc.latest_event_log
            /Open Incident -
            =log.humanized_event
            at
            =log.event_time.to_s :time
          -else
            Created at
            =inc.created_at.to_s :time
    -if can? :index, Incidents::Incident
      %h5
        =link_to 'More Incidents&hellip;'.html_safe, incidents_incidents_path
    -if can? :read_case_Details, Incidents::Incident and current_chapter.incidents_report_editable
      %h5
        =link_to 'Current Activity&hellip;'.html_safe, activity_incidents_incidents_path

  .span8
    .map-container
      .all-incidents-map{style: "height: 500px"}

- content_for :footer_js do
  = google_maps_javascript
  :javascript
    config = #{map_config.to_json};
    allIncidentsMapController = new AllIncidentsMapController(#{map_json_for(recent_incidents).to_json}, config);




