!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "DCSOps"
    = csrf_meta_tags
    -#/ Le HTML5 shim, for IE6-8 support of HTML elements
    -#/[if lt IE 9]
    -#  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    -#/%link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    -#/%link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    -#/%link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    -#/%link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    -#/%link(href="favicon.ico" rel="shortcut icon")
    -if pdf_header?
      =yield(:header)


  %body{class: [params[:controller].split(/\//), params[:action]]}
    = javascript_include_tag "application"
    /[if lt IE 10]
      = javascript_include_tag "es5-shim"
      
    %nav.navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          %button.navbar-toggle(data-target="#main-navbar-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="/")
            DCS
            %b> Ops
        .collapse.navbar-collapse#main-navbar-collapse
          %ul.nav.navbar-nav
            -if current_user
              %li= link_to "DAT Scheduling", scheduler_root_path
              %li= link_to 'Incidents', incidents_region_root_path(current_region)
              -if has_admin_dashboard_access
                %li= link_to "Admin", scheduler_admin_people_path
          %ul.nav.navbar-nav.navbar-right
            -if impersonating_user
              %li= link_to "Impersonating #{impersonating_user.full_name}", impersonate_scheduler_admin_person_path(impersonating_user), method: :delete
            -if current_user_session
              - person = current_user_session.person
              %li
                = link_to roster_person_path(person) do
                  Logged in as #{person.full_name}
                  - unless person.profile_complete?
                    %i.fa.fa-exclamation-sign.text-danger
              %li= link_to "Logout", roster_session_path, method: :delete

    .container
      - current_messages.each do |motd|
        -if cookies["-motd-#{motd.cookie_code}"] != motd.cookie_version.to_s
          .row.noprint
            .col-sm-12
              .alert.sandbox-dialog{class: motd.dialog_class, data: {cookie_code: motd.cookie_code, cookie_value: motd.cookie_version, cookie_end: (motd.ends || 1.month.from_now).httpdate}}
                %i.fa.fa-warning-sign.icon-3x.float-left{style: 'float: left; padding-right: .3em'}
                = motd.html.html_safe

                %button.close{"data-dismiss" => 'alert'} 
                  x
                  -#&#215;
      .row
        .col-sm-12
          = bootstrap_flash
          = yield
        -#/.col-sm-3
        -#/  .well.sidebar-nav
        -#/    %h3 Sidebar
        -#/    %ul.nav.nav-list
        -#/      %li.nav-header Sidebar
        -#/      %li= link_to "Link 1", "/path1"
        -#/      %li= link_to "Link 2", "/path2"
        -#/      %li= link_to "Link 3", "/path3"
    
      %footer
        %p
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = yield :footer_js
    -if dsn = ENV['SENTRY_DSN_WEB']
      = javascript_include_tag 'https://cdn.ravenjs.com/1.1.7/jquery,native/raven.min.js'
      :javascript
        Raven.config(#{raw dsn.to_json}, {
            whitelistUrls: ['datresponse.org', 'dcsops.org']
        }).install();
